@font-face {
  font-family: 'Stolzl';
  src: url("../fonts/stolzl.woff2") format("woff2"), url("../fonts/stolzl.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: 'Play', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

section {
  height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1950px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 0 40px;
}

.container--row {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container--height {
  height: 100%;
}

.container--align {
  align-items: flex-start;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}

.maincontent {
  height: 100%;
}

.first-title {
  font-size: 58px;
  color: #ffffff;
  text-transform: uppercase;
}

.first-title--flex {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.first-title--lato {
  font-family: 'Play', sans-serif;
}

.first-title--blue {
  color: #00cbf7;
  margin-right: 70px;
}

.first-title--small {
  text-transform: none;
  font-size: 25px;
  color: #979797;
}

.first-title__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
}

.second-title {
  font-size: 100px;
  text-transform: uppercase;
  color: #616161;
}

.third-title {
  font-size: 58px;
  color: #616161;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 70px;
}

.third-title--blue {
  color: #00cbf7;
  margin-bottom: 0;
  min-width: 340px;
  text-align: left;
}

.third-title--small {
  font-size: 33px;
  text-decoration: none;
  text-align: right;
}

.fourth-title {
  font-size: 40px;
  color: #d0d0d0;
  text-transform: uppercase;
  text-align: center;
  width: 33%;
}

.btn {
  color: #ffffff;
  font-size: 20px;
  text-transform: lowercase;
  background-color: #000000;
  padding: 15px 40px;
  border: 2px solid #00cbf7;
  font-family: 'Play', sans-serif;
  border-radius: 50px;
  cursor: pointer;
  transition: .2s;
}

.btn--order {
  margin: 10px auto 20px;
  background-color: #00cbf7;
}

.btn--order:hover {
  background-color: #000000;
}

.form {
  display: flex;
  flex-direction: column;
}

.is-open-modal {
  overflow: hidden;
}

.modal {
  box-sizing: border-box;
  position: fixed;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 3rem;
  display: none;
}

.modal__title {
  font-size: 33px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.modal__row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  min-height: 40px;
}

.modal__row--input {
  margin: 30px 0;
}

.modal__input {
  width: 230px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #00cbf7;
  font-style: italic;
  font-size: 16px;
  color: #b3b3b3;
  padding: 10px 10px 10px 20px;
}

.modal.is-open {
  display: block;
}

.dialog {
  box-sizing: border-box;
  width: max-content;
  min-width: 920px;
  background: #ffffff;
  position: relative;
  left: 50%;
  top: 20%;
  margin-left: -460px;
  padding: 40px 60px 20px;
  background: #000000;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
}

.close-dialog {
  cursor: pointer;
  position: absolute;
  right: -14%;
  top: -220%;
}

.checkbox {
  width: 230px;
}

.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.checkbox__text {
  position: relative;
  padding: 0 0 0 60px;
  cursor: pointer;
  color: #b3b3b3;
  font-size: 16px;
}

.checkbox__text:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 35px;
  height: 10px;
  border-radius: 13px;
  background: #3e3e3e;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: .2s;
}

.checkbox__text:after {
  content: '';
  position: absolute;
  top: 0;
  left: 2px;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background: #b3b3b3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: .2s;
}

.checkbox input:checked + .checkbox__text:before {
  background: #b3b3b3;
}

.checkbox input:checked + .checkbox__text:after {
  left: 20px;
  background: #00cbf7;
}

.simplebar-scrollbar::before {
  background-color: #00cbf7;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 20;
}

.header__wrap {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 40px;
  top: -72px;
}

.header__descr {
  display: flex;
}

.header .nav__menu {
  margin-bottom: 100px;
}

.header .social__list {
  justify-content: flex-end;
}

.logo__img {
  max-height: 70px;
}

.lang {
  color: #999999;
  margin-right: 100px;
  font-size: 25px;
  position: absolute;
  right: 35px;
}

.hamb {
  display: block;
  position: relative;
  z-index: 20;
}

.burger span {
  display: block;
  width: 40px;
  height: 3px;
  margin-bottom: 11px;
  position: relative;
  background: #999999;
  border-radius: 5px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.burger span:first-child {
  transform-origin: 0% 0%;
}

.burger span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.burger.burger-show span {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

.burger.burger-show span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.burger.burger-show span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(45deg) translate(-9px, -8px);
  background: #999999;
}

.menu {
  transform: translateX(200px);
  position: absolute;
  top: -30px;
  position: absolute;
  width: 370px;
  height: 100vh;
  padding: 150px 40px 0;
  background: #000000;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  opacity: 0;
  transition: 1s;
}

.menu .nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.menu li {
  text-align: right;
}

.show {
  transform: translateX(-290px);
  transition: 1s;
  opacity: 1;
}

.burger {
  cursor: pointer;
}

.hero {
  background: #000000;
  padding: 30px 0;
  position: relative;
}

.hero__wrap {
  display: flex;
  height: 100%;
  margin-top: -75px;
}

.hero__bg {
  position: relative;
  width: 40%;
  max-width: 700px;
  max-height: 700px;
}

.flick-img {
  position: relative;
  width: 100%;
  z-index: 10;
}

.color-wave {
  position: absolute;
  top: 0;
  -webkit-animation: flick 1s ease-in-out infinite;
  -moz-animation: flick 1s ease-in-out infinite;
  -o-animation: flick 1s ease-in-out infinite;
  animation: flick 2s ease-in-out infinite;
  font-weight: bold;
  color: #ffffff;
  width: 100%;
  height: 95%;
}

@keyframes flick {
  0% {
    background-color: #1E90FF;
  }

  25% {
    background-color: #FF00FF;
  }

  26% {
    background-color: #A9A9A9;
  }

  27% {
    background-color: #FF00FF;
  }

  29% {
    background-color: #dfdfdf;
  }

  30% {
    background-color: #FF00FF;
  }

  62% {
    background-color: #FF0000;
  }

  63% {
    background-color: #A9A9A9;
  }

  64% {
    background-color: #FF0000;
  }

  66% {
    background-color: #dfdfdf;
  }

  67% {
    background-color: #FF0000;
  }

  95% {
    background-color: #1E90FF;
  }

  96% {
    background-color: #A9A9A9;
  }

  97% {
    background-color: #1E90FF;
  }

  99% {
    background-color: #dfdfdf;
  }

  100% {
    background-color: #1E90FF;
  }
}

@-webkit-keyframes flick {
  0% {
    background-color: #1E90FF;
  }

  25% {
    background-color: #FF00FF;
  }

  26% {
    background-color: #A9A9A9;
  }

  27% {
    background-color: #FF00FF;
  }

  29% {
    background-color: #dfdfdf;
  }

  30% {
    background-color: #FF00FF;
  }

  62% {
    background-color: #FF0000;
  }

  63% {
    background-color: #A9A9A9;
  }

  64% {
    background-color: #FF0000;
  }

  66% {
    background-color: #dfdfdf;
  }

  67% {
    background-color: #FF0000;
  }

  95% {
    background-color: #1E90FF;
  }

  96% {
    background-color: #A9A9A9;
  }

  97% {
    background-color: #1E90FF;
  }

  99% {
    background-color: #dfdfdf;
  }

  100% {
    background-color: #1E90FF;
  }
}

.scroll {
  position: absolute;
  z-index: 10;
  bottom: 30px;
  left: 50%;
  margin-left: -9px;
  cursor: pointer;
}

.scroll--about {
  left: auto;
  right: 201px;
  bottom: -21%;
}

.scroll--how {
  left: 696px;
  bottom: 8%;
}

.scroll--footer {
  bottom: auto;
  top: 30px;
}

.scroll--projects {
  right: 91px;
  bottom: -50%;
  left: auto;
}

.scroll--projects-mobile {
  display: none;
}

.about {
  padding: 30px 0 300px;
  background-color: #ffffff;
}

.about__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
  padding-right: 340px;
  position: relative;
  margin-top: 50px;
}

.about__wrap:after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #00cbf7;
  right: 210px;
}

.about__descr {
  padding: 80px 0 70px;
  font-size: 25px;
  text-transform: uppercase;
  text-align: right;
  color: #616161;
  line-height: 50px;
}

.service {
  padding: 30px 0;
  position: relative;
  background: #f1fbff;
}

.service__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service__item {
  width: 18%;
  display: flex;
  flex-direction: column;
  margin-bottom: 140px;
}

.service__title {
  font-size: 25px;
  color: #000000;
  text-transform: uppercase;
  min-height: 65px;
}

.service__list {
  padding-left: 38px;
  position: relative;
}

.service__list:after {
  content: '';
  display: block;
  position: absolute;
  height: 88%;
  width: 1px;
  background-color: #00cbf7;
  top: 13px;
  left: 19px;
}

.service__list .close {
  display: none;
}

.service__type {
  font-size: 20px;
  color: #999999;
  line-height: 40px;
}

.service__list.show {
  transform: translateX(0px);
  transition: .5s;
  height: 88%;
  width: 100%;
  top: 10%;
  left: 0;
  background: #f1fbff;
  z-index: 30;
  padding-left: 100px;
  padding-top: 30px;
}

.how {
  padding: 30px 0;
  background-color: #1b1b1b;
}

.how__wrap {
  display: flex;
  height: 100%;
  align-items: center;
  margin-top: -75px;
}

.how__title-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 556px;
}

.how__title-descr {
  font-size: 25px;
  font-style: italic;
  color: #e8e8e8;
  text-align: right;
}

.how__title-descr--gray {
  color: #979797;
}

.how__list-wrap {
  position: relative;
  padding-left: 200px;
}

.how__list-wrap:after {
  content: '';
  display: block;
  position: absolute;
  height: 94%;
  width: 1px;
  background-color: #00cbf7;
  left: 100px;
  top: 0;
}

.how__item {
  margin-bottom: 50px;
}

.how__item-title {
  font-size: 33px;
  color: #ffffff;
}

.how__item-type {
  font-size: 25px;
  color: #7a7a7a;
}

.projects {
  background-color: #141414;
  padding: 30px 0;
}

.projects--black {
  background: #0f0f0f;
}

.projects__wrap {
  margin-top: -75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-right: 200px;
}

.projects__wrap--reverse {
  flex-direction: row-reverse;
}

.projects__wrap:after {
  content: '';
  display: block;
  position: absolute;
  height: 160%;
  width: 1px;
  background-color: #00cbf7;
  right: 100px;
  top: -25%;
}

.projects__item-list {
  display: flex;
}

.projects__item {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  text-decoration: none;
}

.projects__img-wrap {
  margin-bottom: 60px;
}

.projects__img {
  width: 100%;
  max-width: 370px;
}

.projects__descr {
  font-size: 25px;
  color: #999999;
  margin: 0 50px;
}

.swiper-button-next-custom {
  position: absolute;
  top: 50%;
  right: 5%;
  z-index: 10;
  cursor: pointer;
}

.swiper-button-prev-custom {
  position: absolute;
  top: 49.5%;
  right: 5%;
  z-index: 10;
  cursor: pointer;
  transform: rotate(180deg);
}

.swiper-slide-active {
  z-index: 20;
}

.swiper-button-disabled {
  visibility: hidden;
}

.footer {
  background-color: #000000;
  padding: 120px 100px;
  position: relative;
}

.footer__img-wrap {
  width: 33%;
}

.footer__about {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.logo-wrap {
  display: flex;
}

.logo-wrap .logo {
  width: 33%;
}

.logo-wrap .modal-wrap {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.descr-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  width: 33%;
}

.nav__link {
  font-size: 25px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 20px 0;
  display: block;
  text-decoration: none;
}

.social {
  margin-top: 40px;
}

.social__list {
  display: flex;
}

.social__link {
  margin-right: 20px;
}

.footer-text {
  color: #999999;
  line-height: 42px;
}

.cookie {
  text-align: right;
}

.cookie__link {
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 1300px) {
  .first-title {
    font-size: 48px;
  }
}

@media screen and (max-width: 1100px) {
  .first-title {
    font-size: 38px;
  }
}

@media screen and (max-width: 990px) {
  .first-title {
    font-size: 28px;
  }

  .first-title--small {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  section {
    height: auto;
  }

  .container--height {
    justify-content: flex-start;
    margin-top: 30px;
  }

  .first-title {
    font-size: 48px;
  }

  .first-title--flex {
    width: 100%;
    justify-content: center;
  }

  .first-title--lato {
    text-align: center;
  }

  .first-title--blue {
    margin-right: 0;
  }

  .first-title--small {
    font-size: 20px;
  }

  .first-title__wrap {
    align-items: center;
    margin-top: 40px;
    width: 100%;
  }

  .second-title {
    font-size: 60px;
  }

  .third-title {
    font-size: 36px;
  }

  .third-title--service {
    font-size: 60px;
  }

  .third-title--blue {
    text-align: right;
    min-width: auto;
    width: 100%;
  }

  .third-title--projects {
    width: 80%;
  }

  .third-title--small {
    padding-right: 0;
    font-size: 24px;
    text-align: center;
  }

  .third-title--small br {
    display: none;
  }

  .fourth-title {
    width: 65%;
    margin-top: 50px;
  }

  .fourth-title br {
    display: none;
  }

  .modal__row {
    margin: 0;
  }

  .modal__row {
    flex-direction: column;
  }

  .modal__row--input {
    margin: 30px 0;
    align-items: center;
  }

  .dialog {
    min-width: 420px;
    margin-left: -210px;
  }

  .close-dialog {
    right: -35%;
  }

  .checkbox {
    margin-bottom: 15px;
  }

  .modal-scroll {
    height: 200px;
  }

  .hero {
    height: 100vh;
  }

  .hero__wrap {
    margin-top: 0;
  }

  .hero__wrap .container {
    flex-direction: column;
    justify-content: center;
  }

  .hero__bg {
    max-width: 400px;
    max-height: 400px;
    order: 3;
    width: 100%;
  }

  .scroll {
    display: none;
  }

  .scroll--about {
    left: 50%;
    right: auto;
    bottom: -10%;
  }

  .scroll--service {
    left: 45px;
  }

  .scroll--how {
    left: 50%;
    bottom: -10%;
  }

  .scroll--footer {
    left: 70%;
    z-index: 30;
  }

  .scroll--projects {
    bottom: 6%;
    right: auto;
    left: 50%;
  }

  .about {
    padding-bottom: 100px;
  }

  .about__wrap {
    padding: 0 30px;
    align-items: center;
    justify-content: center;
  }

  .about__wrap:after {
    display: none;
  }

  .about__descr {
    font-size: 18px;
    text-align: center;
    max-width: 400px;
    padding-top: 300px;
    position: relative;
  }

  .about__descr:after {
    content: '';
    display: block;
    position: absolute;
    height: 45%;
    width: 1px;
    background-color: #00cbf7;
    right: 200px;
    top: 5%;
  }

  .service {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .service__wrap {
    flex-direction: column;
    padding-left: 70px;
  }

  .service__wrap:before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    background-color: #00cbf7;
    height: 78%;
    left: 45px;
  }

  .service__item {
    width: 100%;
    margin-bottom: 0;
  }

  .service__title {
    cursor: pointer;
  }

  .service__list {
    transform: translateX(1000px);
    position: absolute;
  }

  .service__list:after {
    height: 7%;
    left: 60px;
    top: 40px;
  }

  .service__list .close {
    display: block;
    position: absolute;
    right: 10%;
    top: 0;
    cursor: pointer;
  }

  .how {
    padding-bottom: 100px;
  }

  .how__wrap {
    flex-direction: column;
    margin-top: 100px;
  }

  .how__title-wrap {
    height: auto;
    flex-direction: column-reverse;
    min-width: auto;
  }

  .how__title-descr {
    font-size: 18px;
  }

  .how__list-wrap {
    padding-left: 0;
    margin-top: 30px;
  }

  .how__list-wrap:after {
    display: none;
  }

  .how__item {
    margin-bottom: 25px;
  }

  .how__item-title {
    font-size: 24px;
  }

  .how__item-type {
    font-size: 14px;
  }

  .projects {
    height: 100vh;
  }

  .projects__wrap {
    margin-top: -25px;
    height: 100%;
    padding-right: 150px;
  }

  .projects__wrap--reverse {
    flex-direction: column-reverse;
    justify-content: center;
    padding-right: 0;
  }

  .projects__wrap--reverse:after {
    display: none;
  }

  .projects__wrap:after {
    height: 65%;
    top: 17%;
  }

  .projects__item-list--mobile {
    display: none;
  }

  .projects__item {
    width: 80%;
    align-items: center;
    margin-bottom: 50px;
  }

  .projects__item:nth-last-child(2) {
    display: none;
  }

  .projects__img-wrap {
    margin-bottom: 30px;
  }

  .projects__img {
    max-width: 270px;
  }

  .projects__descr {
    max-width: 220px;
    font-size: 18px;
  }

  .footer {
    padding: 120px 0 0;
  }

  .footer__img-wrap {
    width: auto;
  }

  .footer__img {
    max-width: 400px;
    max-height: 400px;
  }

  .footer__about {
    flex-direction: column;
    align-items: center;
  }

  .logo-wrap {
    align-items: center;
    justify-content: center;
  }

  .logo-wrap .logo {
    position: absolute;
    top: -6.5%;
    left: 0;
  }

  .logo-wrap .modal-wrap {
    width: 60%;
  }

  .descr-wrap {
    flex-direction: column;
    padding-top: 50px;
  }

  .nav {
    width: 100%;
  }

  .nav__link {
    text-align: center;
  }

  .social__list {
    justify-content: center;
  }

  .footer-text {
    text-align: center;
    font-size: 25px;
  }

  .cookie {
    text-align: center;
    margin: 50px 0;
    line-height: 24px;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  .hero__bg {
    max-width: 300px;
    max-height: 300px;
  }
}