*{box-sizing: border-box;}

html{
	font-size: 16px;
}

html, body{
	width: 100%;
	height: 100%;
}

body{
	margin: 0;
	font-size: 18px;
	font-family: 'Stolzl', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: normal;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {list-style: none;}

p {
	padding: 0;
	margin: 0;
}

section{
	height: 100vh;
	// position: relative !important;
}

.container{
	margin: 0 auto;
	max-width: 1950px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	padding: 0 15px;

	&--row{
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 0 100px;
	}

	&--height{
		height: 100%;

		@include tablets{
			justify-content: flex-start;
			margin-top: 30px;
		}
	}
}

.wrapper{
	position: relative;
	overflow: hidden;
	width: 100%;
	min-height: 100%;
	// height: 100%;
}

.maincontent{
	height: 100%;
}

.first-title{
	font-size: 58px;
	color: $white;
	text-transform: uppercase;

	@include tablets{
		font-size: 48px;
	}

	&--flex{
		display: flex;
		justify-content: space-between;
	}

	&--lato {
		font-family: 'Lato', sans-serif;
	}

	&--blue{
		color: $blue;
		margin-right: 70px;

		@include tablets{
			margin-right: 0;
		}
	}

	&--small{
		text-transform: none;
		font-size: 25px;
		color: #979797;

		@include tablets{
			font-size: 20px;
		}
	}

	&__wrap{
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		@include tablets{
			align-items: center;
			margin-top: 40px;
		}
	}
}

.second-title{
	font-size: 100px;
	text-transform: uppercase;
	color: #616161;

	@include tablets{
		font-size: 60px;
	}
}

.third-title{
	font-size: 58px;
	color: #616161;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 70px;

	@include tablets{
		font-size: 36px;
	}

	&--blue{
		color: $blue;
		margin-bottom: 0;

		@include tablets{
			width: 80%;
		}
	}

	&--small{
		font-size: 33px;
		min-width: 450px;
		text-decoration: none;
		position: relative;
		padding-right: 100px;

		@include tablets{
			padding-right: 0;
			font-size: 24px;
		}

		br{

			@include tablets{
				display: none;
			}
		}

		// &:after{
		// 	content: '';
		// 	display: block;
		// 	position: absolute;
		// 	height: 830%;
		// 	width: 1px;
		// 	background-color: $blue;
		// 	top: -400%;
		// 	right: 50px;
		// }
	}
}

.fourth-title{
	font-size: 40px;
	color: #d0d0d0;
	text-transform: uppercase;
	text-align: center;
	width: 33%;
}

.btn{
	color: $white;
	font-size: 20px;
	text-transform: lowercase;
	background-color: $black;
	padding: 15px 40px;
	border: 1px solid $blue;
	font-family: 'Stolzl', sans-serif;
	border-radius: 50px;
	cursor: pointer;
}