@font-face {
    font-family: 'Stolzl';
    src: url('../fonts/stolzl.woff2') format('woff2'),
         url('../fonts/stolzl.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}