.footer{
	background-color: $black;
	padding: 120px 100px;
	position: relative;

	@include tablets{
		padding: 120px 0 0;
	}

	&__img-wrap{
		width: 33%;

		@include tablets{
			width: auto;
		}
	}

	&__img{

		@include tablets{
			max-width: 400px;
			max-height: 400px;
		}
	}

	&__about{
		display: flex;
		justify-content: space-between;
		margin-top: 50px;

		@include tablets{
			flex-direction: column;
			align-items: center;
		}
	}
}

.logo-wrap{
	display: flex;

	@include tablets{
		align-items: center;
		justify-content: center;
	}

	.logo{
		width: 33%;

		@include tablets{
			position: absolute;
			top: -6.5%;
			left: 0;
		}
	}

	.modal-wrap{
		width: 33%;
		display: flex;
		justify-content: center;
		align-items: flex-start;

		@include tablets{
			width: 60%;
		}
	}
}

.descr-wrap{
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include tablets{
		flex-direction: column;
		padding-top: 50px;
	}
}

.nav{
	width: 33%;

	@include tablets{
		width: 100%;
	}

	&__link{
		font-size: 25px;
		color: $white;
		text-transform: uppercase;
		padding: 20px 0;
		display: block;
		text-decoration: none;

		@include tablets{
			text-align: center;
		}
	}
}

.social{
	margin-top: 40px;

	&__list{
		display: flex;

		@include tablets{
			justify-content: center;
		}
	}

	&__link{
		margin-right: 20px;
	}
}

.footer-text{
	color: #999999;
	line-height: 42px;

	@include tablets{
		text-align: center;
		font-size: 25px;
	}
}

.cookie{
	text-align: right;

	@include tablets{
		text-align: center;
		margin: 50px 0;
		line-height: 24px;
		font-size: 18px;
	}

	&__link{
		color: $white;
		text-decoration: none;

	}
}