.hero{
	background: $black;
	padding: 30px 0;
	position: relative;

	@include tablets{
		height: 100vh;
	}

	&__wrap{
		display: flex;
		height: 100%;
		margin-top: -75px;

		@include tablets{
			margin-top: 0;
			// margin-top: 120px;
			// margin-bottom: 50px;
		}

		.container{

			@include tablets{
				flex-direction: column;
				justify-content: center;
			}
		}
	}

	&__bg{
		position: relative;
		width: 40%;
		max-width: 700px;
		max-height: 700px;

		@include tablets{
			max-width: 400px;
			max-height: 400px;
			order: 3;
			width: 100%;
		}

		@include phones{
			max-width: 300px;
			max-height: 300px;
		}
	}
}

.flick-img{
	position: relative;
	width: 100%;
	z-index: 10;
}

.color-wave {
	position:absolute;
	top: 0;	
	-webkit-animation: flick 1s ease-in-out infinite;
	-moz-animation: flick 1s ease-in-out infinite;
	-o-animation: flick 1s ease-in-out infinite;
	animation: flick 2s ease-in-out infinite;
	font-weight: bold;
    color: $white;
	width: 100%;
	height: 95%;
}

 @keyframes flick {
	0%{background-color: #1E90FF;}  

	25%{background-color: #FF00FF;}     
	26%{background-color: #A9A9A9;}
	27%{background-color: #FF00FF;}  
	29%{background-color: #dfdfdf;}
	30%{background-color: #FF00FF;}
	
	62%{background-color: #FF0000;}     
	63%{background-color: #A9A9A9;}
	64%{background-color: #FF0000;}  
	66%{background-color: #dfdfdf;}
	67%{background-color: #FF0000;}
	
	95%{background-color: #1E90FF;}     
	96%{background-color: #A9A9A9;}
	97%{background-color: #1E90FF;}  
	99%{background-color: #dfdfdf;}
	
	100%{background-color: #1E90FF;}	 
}

@-webkit-keyframes flick {
	0%{background-color: #1E90FF;}  

	25%{background-color: #FF00FF;}     
	26%{background-color: #A9A9A9;}
	27%{background-color: #FF00FF;}  
	29%{background-color: #dfdfdf;}
	30%{background-color: #FF00FF;}
	
	62%{background-color: #FF0000;}     
	63%{background-color: #A9A9A9;}
	64%{background-color: #FF0000;}  
	66%{background-color: #dfdfdf;}
	67%{background-color: #FF0000;}
	
	95%{background-color: #1E90FF;}     
	96%{background-color: #A9A9A9;}
	97%{background-color: #1E90FF;}  
	99%{background-color: #dfdfdf;}
	
	100%{background-color: #1E90FF;}
	 
}

.scroll{
	position: absolute;
	z-index: 10;
	bottom: 30px;
    left: 50%;
	margin-left: -9px;
	cursor: pointer;

	@include tablets{
		display: none;
	}

	&--about{
		left: auto;
		right: 201px;
		bottom: -21%;

		@include tablets{
			left: 50%;
			right: auto;
			bottom: -10%;
		}
	}

	&--service{

		@include tablets{
			left: 45px;
		}
	}

	&--how{
		left: 696px;
		bottom: 8%;

		@include tablets{
			left: 50%;
			bottom: -10%;
		}
	}

	&--footer{
		bottom: auto;
		top: 30px;

		@include tablets{
			left: 70%;
			z-index: 30;
		}
	}

	&--projects{
		right: 91px;
		bottom: -50%;
		left: auto;

		@include tablets{
			bottom: 6%;
			right: auto;
			left: 50%;
		}
	}

	&--projects-mobile{
		display: none;
	}
}