.how{
	padding: 30px 0;
	background-color: #1b1b1b;

	@include tablets{
		padding-bottom: 100px;
	}

	&__wrap{
		display: flex;
		height: 100%;
		align-items: center;
		margin-top: -75px;

		@include tablets{
			flex-direction: column;
			margin-top: 100px;
		}
	}

	&__title-wrap{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-width: 556px;

		@include tablets{
			height: auto;
			flex-direction: column-reverse;
			min-width: auto;
		}
	}

	&__title-descr{
		font-size: 25px;
		font-style: italic;
		color: #e8e8e8;
		text-align: right;

		@include tablets{
			font-size: 18px;
		}

		&--gray{
			color: #979797;
		}
	}

	&__list-wrap{
		position: relative;
		padding-left: 200px;

		@include tablets{
			padding-left: 0;
			margin-top: 30px;

		}

		&:after{
			content: '';
			display: block;
			position: absolute;
			height: 94%;
			width: 1px;
			background-color: $blue;
			left: 100px;
			top: 0;

			@include tablets{
				display: none;
			}
		}
	}

	&__item{
		margin-bottom: 50px;

		@include tablets{
			margin-bottom: 25px;
		}
	}

	&__item-title{
		font-size: 33px;
		color: $white;

		@include tablets{
			font-size: 24px;
		}
	}

	&__item-type{
		font-size: 25px;
		color: #7a7a7a;

		@include tablets{
			font-size: 14px;
		}
	}
}