.projects{
	background-color: #141414;
	padding: 30px 0;

	&--black{
		background: #0f0f0f;

		.projects__list-wrap:after{
			display: none;
		}

		// .projects__item{
		// 	width: 25%;
		// }
	}

	&__wrap{
		margin-top: -75px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__list-wrap{
		display: flex;
		justify-content: space-between;
		padding: 0 300px 0 100px;
		position: relative;

		&:after{
			content: '';
			display: block;
			position: absolute;
			height: 160%;
			width: 1px;
			background-color: $blue;
			top: -30%;
			right: 200px;
		}

		&--padding{
			padding-left: 0;
			padding-right: 100px;

			
			// padding: 0 120px 0 0;
			// width: 90%;

			// &:after{
			// 	content: '';
			// 	display: block;
			// 	position: absolute;
			// 	height: 160%;
			// 	width: 1px;
			// 	background-color: $blue;
			// 	top: -30%;
			// 	right: 200px;
			// }
		}
	}

	&__item{
		display: flex;
		flex-direction: column;
		width: 30%;
	}

	&__img-wrap{
		margin-bottom: 60px;
	}

	&__img{
		width: 100%;
		max-width: 370px;
	}

	&__descr{
		font-size: 25px;
		color: #999999;
		margin: 0 50px;
	}
}

.swiper-button-next-custom{
	position: absolute;
    top: 50%;
    right: 5%;
	z-index: 10;
	cursor: pointer;
}

.swiper-slide:last-of-type{
	z-index: 20;
}

.swiper-button-disabled{
	visibility: hidden;
}