.projects{
	background-color: #141414;
	padding: 30px 0;

	@include tablets{
		height: 100vh;
	}

	&--black{
		background: #0f0f0f;
	}

	&__wrap{
		margin-top: -75px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		padding-right: 200px;


		@include tablets{
			margin-top: -25px;
			height: 100%;
			padding-right: 150px;
		}

		&--reverse{
			flex-direction: row-reverse;

			@include tablets{
				flex-direction: column-reverse;
				justify-content: center;
				padding-right: 0;

				&:after{
					display: none;
				}
			}
		}

		&:after{
			content: '';
			display: block;
			position: absolute;
			height: 160%;
			width: 1px;
			background-color: $blue;
			right: 100px;
			top: -25%;

			@include tablets{
				height: 65%;
				top: 17%;
			}
		}
	}

	&__item-list{
		display: flex;

		&--mobile{

			@include tablets{
				display: none;
			}
		}
	}

	&__item{
		display: flex;
		flex-direction: column;
		padding: 0 20px;
		text-decoration: none;

		@include tablets{
			width: 80%;
			align-items: center;
			margin-bottom: 50px;

			&:nth-last-child(2){
				display: none;
			}
		}
	}

	&__img-wrap{
		margin-bottom: 60px;

		@include tablets{
			margin-bottom: 30px;
		}
	}

	&__img{
		width: 100%;
		max-width: 370px;

		@include tablets{
			max-width: 270px;
		}
	}

	&__descr{
		font-size: 25px;
		color: #999999;
		margin: 0 50px;

		@include tablets{
			max-width: 220px;
			font-size: 18px;
		}
	}
}

.swiper-button-next-custom{
	position: absolute;
    top: 50%;
    right: 5%;
	z-index: 10;
	cursor: pointer;
}

.swiper-button-prev-custom{
	position: absolute;
    top: 49.5%;
    right: 5%;
	z-index: 10;
	cursor: pointer;
	transform: rotate(180deg);
}

.swiper-slide-active{
	z-index: 20;
}

.swiper-button-disabled{
	visibility: hidden;
}